SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_WAREHOUSE=
SNOWFLAKE_DATABASE=
SNOWFLAKE_SCHEMA=
JWT_SECRET=
MISTRAL_APIKEY=
OPENAI_API_KEY=
GEMINI_APIKEY=
EMAIL_OTP=
EMAIL_PS_OTP=
EMAIL_PS_OTP_OK=
GROQ_API_KEY=